<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="Inniti Software é uma empresa de desenvolvimento de software jovem e dinâmica composta por um time de especialistas experientes.">
<meta name="google-site-verification" content="Yl3iz1WQnuYp4MMy0RN3iuinzVfJS05DxE6wNWSsHq4" />
<meta name="keywords" content="software desenvolvimento projeto sistema site aplicativo">
<meta name="robots" content="index,follow">
<meta name="geo.region" content="BR-SP" />
<meta name="geo.placename" content="Araraquara" />
<meta name="geo.position" content="-21.788671;-48.17731" />
<meta name="ICBM" content="-21.788671, -48.17731" />